.coop-container {
  max-width: 1000px;
  margin: auto;
  h3 {
    text-align: left;
  }
  .reasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    text-align: center;
    column-gap: 100px;
    .big {
      color: red;
      font-size: 2rem;
    }
  }
  .rewards {
    img {
      width: 150px;
    }
  }
}
