.actuality-list-container {
  width: 350px;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: 20px;
  line-height: 15px;
  font-size: 0.7rem;
}
.actuality-list-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: auto;
  column-gap: 50px;
}
