.header-main-section {
  display: grid;
  grid-template-columns: 4fr 0.5px 2fr;
  align-items: center;
  height: 70vh;
  column-gap: 10px;
  padding: 10px;

  .title {
    text-align: left;

    .header-title {
      
      

      span {
        margin-left: 50px;
        color: red;
  
      }
    }
    h4 {
      margin: 20px 60px;
    
    }
  }
  .vl {
    height: 100%;
    border-right: 1px solid grey;
  }
  .slideshow{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    border-left: solid 1px grey;
  }
}
header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

