header {
  display: grid;
  grid-template-columns: 4fr 0.5px 2fr;
  align-items: center;
  height: 70vh;
  column-gap: 10px;
  padding: 10px;

  .title {
    text-align: left;
    h1 {
      text-align: left !important;
      color: red;
      font-weight: 100;
      width: 100%;
      border-bottom: 1px solid red;
      line-height: 0.1em;
      text-transform: uppercase;

      span {
        background: #f3f3f3;
        padding: 0 10px;
        margin-left: 100px;
      }
    }
    h4 {
      margin: 20px 110px;
    }
  }
  .vl {
    height: 100%;
    border-right: 1px solid grey;
  }
}
