.header-main-section {
  display: grid;
  grid-template-columns: 4fr 0.5px 2fr;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
  .title {
    text-align: left;

    .header-title {
      span {
        margin-left: 50px;
        color: red;
      }
    }
    h4 {
      margin: 20px 60px;
    }
  }
  .vl {
    height: 100%;
    border-right: 1px solid grey;
  }
  .slideshow {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    border-left: solid 1px grey;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-divider {
    height: 10px;
    width: 100%;
    background: rgb(231, 231, 231);
    background: linear-gradient(
      90deg,
      rgba(231, 231, 231, 1) 0%,
      rgba(194, 194, 194, 1) 61%,
      rgba(231, 231, 231, 1) 100%
    );
  }
}
.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
  background-color: white;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 100px;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}
.nav__item {
  margin-left: 4rem;
}
