.actuality-item-container {
  display: grid;
  grid-template-columns: 90px 3fr;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  text-align: left;
  img {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 80px;
    height: 80px;
  }
  h4 {
    line-height: 20px;
    font-weight: 600;
  }
}
